networks:
  konnect-platform-ops-demo:
    driver: bridge

services:
  minio:
    container_name: minio
    image: 'bitnami/minio:latest'
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      - MINIO_ROOT_USER=minio-root-user
      - MINIO_ROOT_PASSWORD=minio-root-password
      - MINIO_DEFAULT_BUCKETS=tfstate
    volumes:
      - minio_data:/bitnami/minio/data
      - ./scripts/create-minio-bucket.sh:/create-minio-bucket.sh
    networks:
      - konnect-platform-ops-demo

  vault:
    container_name: vault
    image: hashicorp/vault
    command: server -dev -dev-root-token-id="root"
    ports:
      - '8300:8300'
    healthcheck:
      retries: 5
    environment:
      VAULT_ADDR: 'https://0.0.0.0:8300'
      VAULT_DEV_ROOT_TOKEN_ID: 'root'
      VAULT_TOKEN: ${VAULT_TOKEN:-root}
      VAULT_LOCAL_CONFIG: |-
        {"storage": {"file": {"path": "/vault/file"}}, "listener": [{"tcp": { "address": "0.0.0.0:8300", "tls_disable": true}}], "default_lease_ttl": "168h", "max_lease_ttl": "720h", "ui": true}
    cap_add:
        - IPC_LOCK
    volumes:
      - vault_data:/data
    networks:
      - konnect-platform-ops-demo

  registry:
    container_name: registry
    image: registry:2
    ports:
      - '5000:5000'
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /var/lib/registry
      REGISTRY_HTTP_SECRET: secret
    volumes:
      - registry_data:/var/lib/registry
    networks:
      - konnect-platform-ops-demo

  postgres-kc:
    networks:
      - konnect-platform-ops-demo
    image: postgres:13.1
    container_name: postgres-kc
    hostname: postgres-kc
    volumes:
      - pgdata_kc:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "keycloak"]
      interval: 30s
      timeout: 30s
      retries: 3
    restart: on-failure
    stdin_open: true
    tty: true
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_PASSWORD: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PG_TIMEOUT: 60000

  keycloak:
    #hostname: keycloak.local
    container_name: keycloak
    depends_on:
      - postgres-kc
    networks:
      - konnect-platform-ops-demo
    image: quay.io/keycloak/keycloak:24.0.2
    command: start-dev
    # volumes:
    #   - ${PWD}/misc:/kc_data
    healthcheck:
      test: ["CMD", "curl", "-f", "https://keycloak:8080/auth/realms/master"]
      interval: 30s
      timeout: 30s
      retries: 3
    restart: on-failure
    ports:
      - 8080:8080
      - 8448:8448
    environment:
      # KC_PROXY_ADDRESS_FORWARDING: true
      KC_HOSTNAME_STRICT: false
      #KC_HOSTNAME: keycloak.local
      # KC_PROXY: edge
      KC_HTTP_ENABLED: true
      # DB_VENDOR: H2
      KC_DB: postgres
      # DB_URL: 'jdbc:postgresql://postgres:5432/postgres?ssl=allow'
      KC_DB_URL_HOST: postgres-kc
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      # KEYCLOAK_IMPORT: "/data/kong_realm_template.json"
      PROXY_ADDRESS_FORWARDING: "true"
      # KC_LOG_LEVEL: DEBUG

volumes:
  minio_data:
    driver: local
  vault_data:
    driver: local
  registry_data:
    driver: local
  pgdata_kc:
    driver: local